@media only screen and (max-device-width : 450px) {
	
	.div_buscador_inicio {
		margin-left: 2%;
		width: 96%;
		position: relative;
		float: left;
		display: block;
		height: 120;
	}img.lupa_buscador {
		width: 25px;
		z-index: 20;
		position: absolute;
		left: 13;
		top: 13px;
	}
	
	.buscador_app .searcher.index {
		width: 75%;
	}
	.div_opcion_secundaria_inicio {
		position: absolute;
		float: left;
		width: 52%;
		top: 37%;
		left: 15%;
	}
	button.call2action.buscar {
		position: relative;
		float: right;
		right: 4px;
		width: 37px;
		color: rgb(142, 25, 146);
		font-size: 3px !important;
	}
	
	.mobile{
		display: block !important; 
	}
	.desktop{
		display: none !important;
	}
	#login_info {
		display: none;
	}
	.botonera_popup_video{
		margin-left: 0 !important;
		width: 100% !important;
		
	}
	iframe#player {
		width: 100% !important;
		height: 203px !important;
		margin-left: 0 !important;
		margin-top: 15% !important;
	}
	.ingreso_datos_login {
		width: 90% !important;
		height: 90% !important;
		padding-top: 20% !important;
	}
	.boton_popup_video {
		width: 100%;
		margin-bottom: 20;
	}
	.mensaje_popup_perfil {
		height: auto;
		width: 90%;
	}.contenedor_popup_pregunta {
		margin: 1%;
		width: 98%;
		height: 75%;
		margin-top: 10%;
	}
	.filtros{
		width: 96%;
	}
	.contenedor_filtros{
		margin-left: 0% !important;
		width: 58% !important;
		padding-right: 27% !important;
	}
	
	body{
		margin:0;
		height: 92%;
		background: #f4f1f5;
		font-family: var(--global-font-family) !important;
		font-style: normal;
		font-size: 12px;
		overflow: auto;
	  }
	.form_popup_perfil{
		height: auto;
		width: 100%;
		margin-bottom: 95px;
		padding-right: 0px;
		
	}
	.hasta{
		margin-right: 0;
	}
	.desde{
		margin-right: 0;
	}
	
	.contenedor_popup_perfil {
		width: 96%;
		margin: 1%;
		height: 90%;
		margin-top: 3%;
	}
	.olvide_pass{
		font-size: 12px !important;
	}
	.forgot_pass {
		width: 100% !important;
		margin-bottom: 30 !important;
		height: 20px !important;
	}
	.form_login {
		margin-top: 5% !important;
	}
	.login_action {
		margin-left: 30% !important;
	}
	.div_filtro{
		width: 11%;
	}
	.observacion {
		width: 100%;
		
	}
	#sincronizar_externos{
		right: 3px;
		top: 17px;
		width: 126px;
		padding: 1 2;
	}
	.link_externo_top_right{
		margin-right: 180px;
	}
	.banner_opciones_desktop{
		display: none;
	}
	
	.contenedor_listas{
		width: 90% !important;
		padding: 0px 4% !important;
	}
	.contenedor_etiquetas.contactos{
		width: 95% !important;
	}
	.contenedor_etiqueta.contacto{
		padding-bottom: 10%;
		width: 95% !important;
	}
	.contenedor_listas.left{
		box-sizing: content-box;
		margin: 0;
		/* margin-left: 1% !important; */
		padding-bottom: 90;
		padding: 0px !important;
		top: 60px;
		width: 62%;
		right: 222px;
		height: 705.713px;
	}
	.img_opcion{
		width: 20;
	}
	button{
		font-size: 12 !important;
	}
	h1{
		font-size: 15 !important;
		
	}
	h2{
		font-size: 12 !important;
		
	}
	h3{
		font-size: 10 !important;
		
	}
	.buscador_app{
		height: 9% !important;
		width: 100% !important;
	}
	.buscador_app .div_buscador_inicio{
		width:100%;
	}
	.espaciador_buscar{
		position: relative;
		float: left;
		height: 25px !important;
		width: 100% !important;
	}
	.items_contenedor_items{
		height: 85% !important;
		padding-bottom: 60px !important;
	}
	.contenedor_top.left {
		height: 95% !important;
		bottom: 5% !important;
		width: 100% !important;
		left: 0% !important;
		top: 0;
		z-index: 10;
		padding: 0;
	}
	.contenedor_listas.right{
		display: none;
		margin-left: 5%;
	}
	.contenedor_top{
		width: 98% !important;
	}
	.div_buscador {
		width: 88% !important;
	}
	.contenedor_etiqueta{
		width: 97% !important;
		padding-bottom: 5%;
		margin: 0px;
		margin-bottom: 20px;
	}
	.sub_contenedor_popup.detalle {
		margin-top: 40;
		height: auto;
		padding-bottom: 40;
	}
	.etiqueta_fecha{
		top:0 !important;
		right: 0 !important;
	}
	.button.selected:hover{
		background: transparent;
	}
	button:hover{
		box-shadow: none;
	}
	.contenedor_popup{
		width: 90% !important;
		margin: 3% 4% !important;
		padding-top: 7% !important;
		height: 90% !important;
	}
	.popup_img {
		width: 40px !important;
	}
	.contenedor_top.right.form {
		width: 98% !important;
		right: 0;
		background: #f6f6f6 !important;
		height: 93% !important;
		z-index: 201;
	}
	.img_info_tipo_servicio{
		margin-left: 30%;
		margin-right: 30%;
	}
	.mensaje_no_contactos.texto_mensaje {
		width: 90%;
		color: #575798;
	}
	.mensaje_flotante{
		z-index: 500 !important;
		width:100%;
		right:0;
	}
	.ver_mas_inferior{
		width: 50%;
		margin-left: 23%;
	}
	#sorry {
		margin: 15% 2% 5% 2%;
		width: 96%;
		font-size: 16px;
	}
	.boton_call2action {
		right: 25px !important;
		bottom: 20px !important;
		max-width: 80% !important;
		
	}
	.opcion_servicio{
		width: 78% !important;
		margin-bottom: 20 !important;
	}
	.banner_servicios{
		width: 92% !important; 
	}
	.contenedor_top.stats{
		left:0 !important;
		height: 90% !important;
		padding-top: 10% !important;
		padding-bottom: 20%;
	}
	.opcion_menu {
		transition: all .2s ease-in-out;
		position: relative;
		float: left;
		border-radius: 0px;
		padding: 5 5 5 30;
		width: 96%;
		margin-left: 2%;
		border-radius: 6px;
		margin-bottom: 15;
		text-align: left;
		border: 0;
		color: #7f4a8d;
		top: 61px;
	}
	.opcion_menu1 {
		transition: all .2s ease-in-out;
		position: relative;
		float: left;
		border-radius: 0px;
		padding: 5 5 5 30;
		width: 96%;
		margin-left: 2%;
		border-radius: 6px;
		margin-bottom: 15;
		text-align: center;
		border: 0;
		color: #7f4a8d;
		top: 6px;
	}
	.opcion_menu.selected {
		background: #f0eaf4;
		box-sizing: content-box;
		bottom: -2px;
		width: 88%;
		left: 0px;
		margin-bottom: 13px;
		margin-right: 16px;
		text-align: left !important;
		position: relative;
	}
	.div_contenedor_formulario {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}
	.opcion_banner_mobile {
		width: 24%;
		position: relative;
		float: left;
		text-align: center;
	}
	.contenedor_etapa{
		height: auto;
		padding: 2%;
		width: 100%;
		margin-left: 0;
		min-height: 65%;
	}
	.div_contenedor_loadjobs {
		margin-left: 1%;
		width: 98%;
		height: auto;
	}
	.label_servicio{
		position: relative;
		bottom: 0;
		left: 0;
	}
	#div_contenedor_menu{
		display: none;
	}
	#banner_servicios{
		display: none;
	}
	.alerta_perfil{
		bottom:20%;
	}
	.info_popup.parcial {
		width: 93%;
	}
	.div_type_servicio {
		width: 96%;
	}
	.menu_img{
		width: 18;
	}
	.div_menu {
		width: 96% !important;
		height: 90% !important;
		background: white;
		z-index: 100;
		margin: 2% 1% 2% 2%;
		transition: all .5s ease-in-out;
		position: fixed;
		border-radius: 20px;
		left: 0;
		top: 0;
	}
	.ayuda {
		position: absolute;
		bottom: 9%;
		width: 96%;
		right: 2%;
	}
	.opcion{
		margin-left: 4; 
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.botoner_popup{
		position: relative;
		margin-top: 40;
		margin-bottom: 40;
		width: 100%;
		bottom: auto;
		right: auto;
		float: left;
	}
	.botonera_popup {
		position: relative;
		width: 100%;
		bottom: auto;
		right: auto;
		margin-top: 40;
		margin-bottom: 40;
		float: left;
	}
	.div_contenedor_popup{
		backdrop-filter: blur(10px);
		transition: all .5s ease-in-out;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		position: fixed;
		background: #444242d4;
		z-index: 200;
	}
	.botonera.etiqueta.contacto {
		bottom: 0%;
	}
	.div_contenedor{
		height: 26% !important; 
	}
	button.opcion_persona {
		width: 90%;
		margin: 5% 5%;
	}
	.contenedor_valida_requerimiento{
		width: 100%;
	}
	.text_area_requerimiento {
		width: 100%;
	}
	.input.select.categoria{
		width: 100%;
	}
	.opcion_popup.left {
		float: right;
	}
	.info_popup.cat_cat {
		width: 93%;
	}
	.info_popup.cat_des {
		width: 93%;
	}
	.guarda_requerimiento{
		height: auto;
		width: 100%;
	}
	.opcion_popup {
		left: 10;
		margin-bottom: 7px;
		position: relative;
		width: 99%;
	}
	.contenendor_comentarios {
		padding: 10 0;
	}
	.sub_contenedor_popup.right2 {
		border-radius: 10px !important;
	}
	
	.sub_contenedor_popup{
		width: 98% !important; 
		height: auto;
	}
	.sub_contenedor_popup.left{
		width: 100% !important;
		
		height: auto;
	}
	.sub_contenedor_popup.right2{
		width: 98% !important; 
	}
	.contenedor_popup.extenso{
		overflow: auto !important;
		transition: all .5s ease-in-out;
		margin-left: 2% !important;
		width: 96% !important;
		z-index: 500 !important;
		
	}
	.titulo_select h2 {
		font-size: 12px !important;
	}
	.div_contenedor_formulario.proceso {
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
	}
	.contenedor_datos_proceso.left {
		margin-right: 0%;
	}
	.contenedor_datos_proceso {
		width: 87%;
		height: auto;
	}
	.contenedor_opciones{
		margin-bottom: 4px;
	}
	.sub_contenedor_popup.right{
		width: 95%;
	}
	.subpopup.final{
		height: auto !important;
	}
	.contenedor_items_ruta {
		width: 45%;
		margin-top: 2%;
	}
	.contenedor_botones_perfil {
		width: 100%;
		height: auto;
		position: relative;
		float: left;
	}
	.contenedor_buscador {
		height: auto !important;
		width: 100% !important;
	}
	.header_etiquetas{
		display: none;
	}
	.close_corner {
		position: fixed;
		top: 12px !important;
		right: 4px !important;
		border: 0 !important;
		z-index: 5 !important;
	}
	.div_contenido.alerta{
		width: 33% !important;
		margin-top: 1% !important;
		height: 85 !important;
	}
	.div_etiqueta.alerta{
		width: 23% !important;
	}
	.corner_img.atts{
		width: 15;
	}
	.popup_atts {
		margin-left: 11% !important;
		margin-top: 10% !important;
		width: 70% !important;
		position: fixed;
		right: 10%;
		box-shadow: 0 50px 70px 0 rgb(35 37 38 / 49%), 0 2px 50px 70px rgba(60,64,67,0.149);
	}
	
	#top_titulo {
		
		left: 0 !important;
	}
	button.filtro{
		width: 35px;
		padding: 10px;
	}
	.filtro_seleccionado{
		padding: 0px 30px 3px 8px;
	}
	.order{
		padding: 0px 30px 3px 8px;	
	}
	.filtro_seleccionado.atributo{
		top: 7px !important;
		right: 0px !important;
	}
	.contenedor_etiquetas {
		width: 98% !important;
		height: 88% !important;
		padding-bottom: 10 !important;
		overflow-y: auto !important;
		padding-left: 10 !important;
		top: 0;
	}
	.contenedo_videos{
		height: 15% !important;
	}.iframe_video{
		width: 83% !important; height: 300 !important;
	}
	.mis_vacantes{
		min-height: 250px !important;
	}
	.botones_videos{
		position: relative;
		bottom: auto !important;
		right: auto !important;
		width: auto !important; 
		height: auto !important;
	}
	.container.div_graph1.subcenter {
		margin-top: 13% !important;
		overflow: auto !important;
	}
	#close_corner_center{
		display: block !important;	
	}
	.back {
		top: -5px !important;
	}.sub_contenedor_popup.botonera{
		width: 99% !important;
		position: relative;
		
	}
	.div_motivo_requerimiento{
		width: 100%;
	}
	.boton_ningun_servicio {
		width: 90% !important;
		height: 50px !important;
		margin-top: 20 !important; 
		
	}
	.opcion_pestania {
		width: 100% !important;
		border-radius: 2px;
	}
	.opcion_pestania.selected {
		border-left: 2px solid #7b6aa0;
		border-bottom: 0px !important;
	}
	.sub_contenedor_botonera{
		position: relative;
		float: left;
		width: 97%;
		height: auto;
	}
	.sub_contenedor_popup.comentarios{
		position: relative !important;
		
		height: 56% !important;
	}
	.boton_crear_objeto.principal{
		position: fixed;
		bottom: 80;
		right: 10;
		z-index: 50;
		background: #e0d2e8 !important;
		margin-top: 13px !important;
		width: auto;
		opacity: 1;
	}
	.boton_crear_objeto.admin {
		display: none !important;
	}
	.contenedor_top.center {
		background: white !important;
		width: 98% !important;
		left: 0 !important;
		transition: all .5s ease-in-out !important;
		bottom:-1000 !important;
	}
	.div_objetos {
		height: auto;
	}
	.contenedor_top.center.show_mobile{
		transition: all .5s ease-in-out;
		bottom:0 !important;
		z-index: 200;
	}
	.titulo_contenedor_items{
		display: none;
	}
	.contenedor_top.right {
		background: rgba(255, 255, 255, 0.82) !important;
		width: 98%;
		margin-left: 0;
		height: 92%;
	}
	.contenedor_etiqueta.alerta{
		height: 130px !important;
	}
	.div_contenedor_items {
		width: 99% !important;
		height: 81% !important;
		margin-right: 0 !important;
		border-radius: 15px;
	}
	.close_corner.atts {
		padding: 2;
		right: 10 !important;
		top: 10 !important;
	}
	.titulo_servicio{
		margin-bottom: 20;
		margin-top: 15;
	}
	.contenedor_upload_cv {
		overflow: auto;
		height: 100%;
	}
	.opciones_servicios{
		padding-bottom: 50;
	}
	.close_corner.menu{
		display: block !important;
		top: 10px !important;
		right: 10px !important;
	}
	.boton_contenido{
		max-width: 263px !important;
	}
	.img_menu {
		width: 20px;
	}
	.opcion_servicio{
		height: 225px !important;
	}
	
	.boton_video_contenido{
		width: 90%;
		height: 100;
	}
	.call2action_recarga{
		bottom:80px;
		position: fixed;
		z-index: 1000;
	}
	.califica_requerimiento.cumple {
		position: relative;
		float: left;
		top: 0px;
	}
	.contenido_banner_servicios{
		margin-bottom: 0% !important;
		height: 78% !important;
	}
	.opcion_banner.menu {
		width: 10%;
	}
	.opcion_banner {
		width: 33%;
		font-size: 13;
		position: relative;
		float: left;
		text-align: center;
		padding-top: 12;
	}
	.texto_opcion_mobile {
		margin-top: 5;
	}
	.opcion_banner.otros {
		width: 25;
	}
	.banner_opciones {
		box-shadow: 0 7px 40px 0 rgb(35 37 38 / 30%);
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 2000;
		height: 60;
		background: white;
	}
	.contenedor_popup.share {
		width: 90%;
		margin: 4% 2%;
	}
	#bloque1_popup {
		width: 100%;
		height: 15%;
	}
	.contenedor_menu_inferior{
		bottom: 50 !important;
	}
	.contenedor_profile {
		left: 0%;
		top: 0%;
		width: 100%;
		height: 92%;
		overflow: auto !important;
	}
	.info_fija{
		height: 23% !important;
		width: 100%;
		position: relative;
		float: left;
		padding: 4% 3%;
		left: 0;
		top: 10px !important;
	}
	.info_dinamica {
		width: 96%;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 15%;
		position: absolute;
   		background: white;
    	height: 46%;
    	top: 30%;
    	padding: 3% 2%;
    	left: 2%;
    	border-radius: 15px;
	}
	.criterios {
		width: 96%;
   		height: 80%;
    	background: white;
    	padding: 5% 3%;
    	left: 2%;
    	border-radius: 15px;
    	position: absolute;
    	top: 74%;
    	overflow: auto;
	}
	.cargue_masivo .mobile {
		color: #bb3737;
		font-size: 14;
		margin-top: 40;
	}
	#bloque2_popup{
		width: 95%;
		height: 52%;
	}
	#bloque3_popup {
		height: 25%;
		background: grey;
		padding: 6% 1%;
		width: 93%;
		border-radius: 20px;
	}
	.loading_img{
		width: 35%;
	}
	.opcion_cargar {
		width: 100%;
		border: 0;
	}
	.loading_text{
		margin-top: 80% !important;
	}
	.opciones_cargar.show{
		bottom: 50;
		transition: all .5s ease-in-out;
	}
	.opciones_cargar {
		padding-top: 15;
		transition: all .5s ease-in-out;
		position: absolute;
		bottom: -200;
		width: 100%;
		box-shadow: 0 -14px 20px 0 rgba(35, 37, 38, 0.302);
		
		background: white;
	}
	.accion_objeto {
		display: none;
	}
	.contenedor_objeto {
		height: 50;
	}
	.container.div_graph1.subcenter {
		display: none;
	}
	
	
	
	
	.seleccion_tipo_busqueda {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	.tipo_busqueda {
		width: 48%;
		border: 0;
		opacity: .5;
	}
	.tipo_busqueda.selected {
		
		opacity:1;
		
	}
	
	.contenedor_inicial{
		display: none;
		height: 80%;
		top: 11%;
		position: absolute;
		box-sizing: content-box;
		left: 3%;
		width: 94%;
		padding-bottom: 0;
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: 0%;
		border-radius: 11px;
		z-index: 100;
	}
	
	.seleccion_vacantes{
		display: none;
		height: 98%;
		top: 1%;
		position: absolute;
		box-sizing: content-box;
		background: transparent;
		left: 2%;
		width: 96%;
		padding-bottom: 0;
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: 0%;
		border-radius: 11px;
	}
	
	.contenedor_etiqueta_publicacion{
		display: none;
	}
	.contenedor_etiqueta_agentes{
		display: none;
	}
	.redes{
		display: none;
	}
	.form_etapa {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		overflow: auto;
	}
}