{% load static %}

{% load versioned_static %}

<html>
<head>
	<!-- Hotjar Tracking Code for www.aleja.com.co -->
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><link rel="shortcut icon" type="image/png" href="https://seligo2.s3.us-east-2.amazonaws.com/logo_aleja_2.png"/><title>Aleia</title>
	<meta property="og:title" content="Aleia"/>
	<meta name="facebook-domain-verification" content="81hix51l37a1nid82uhmhvqtkwy1dx" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	
	<meta http-equiv="Content-Length" content="1"/>
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles_mobile.css' %}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- Open Graph-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
</head>
<body style="margin:0; overflow: auto;">
	
	<div class="buscador_inicio" class="finder index">
		{% include 'buscador.html' %}

		<div class="div_opcion_secundaria_inicio desktop" >
			<a href="https://somos.aleia.app/reclutamiento" target="_blank">
			<button class="call2action primario opcion_index">Busco candidatos</button>
		</a>
		</div>
		
	</div>
	<script >
		function busqueda_index(e = null){
			if(e == null || e.key == "Enter"){
			  var val = document.getElementById("buscador_index").value;
			  window.open("app?q="+val)
			}
		  }
	</script>
	</body>
</html>