{% load static %}
{% load versioned_static %}

<html>
<head>
	
	
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/network/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/network/style.css' %}">
	
	
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><link rel="shortcut icon" type="image/png" href="https://seligo2.s3.us-east-2.amazonaws.com/logo_aleja_2.png"/><title>Aleia</title>
	<meta property="og:title" content="Aleia"/>
	
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	
	<meta http-equiv="Content-Length" content="1"/>
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- Open Graph-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles_mobile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/loading.css' %}">
	
	
	
	
</head>
<body id="index_page">
	
	{% block content %}
	{% include 'popup.html' %}
	{% include 'loading.html' %}
	{% include 'menu_opciones.html' %}
	{% endblock %} 
	
	<div id="div_contenedor_popup_share" class="div_contenedor_popup hide" style="display: none;">
		<div id="contenedor_popup_share" class="contenedor_popup share hide">
			<button id = "close_contenedor_right2" class="close_corner" onclick="close_popup(this)"><img type="image" class="corner_img" src="{% static 'imgs/cancel_c.png'%}"  /></button>
			
			<div id="bloque1_popup" class="bloque_popup">
				<h1 class="titulo_popup">[[titulo]]</h1>
				<h1>[[subtitulo]]</h1>
			</div>
			<div id="bloque2_popup" class="bloque_popup">
				<div class="div_buscador popup">
					<input id="buscador_usuarios_popup" class="buscador" placeholder="Escribe lo que buscas y oprime Enter" oninput="buscar_general(1)"/>
					<img type="image" src="/static/imgs/menu/search.png" class="opcion_img_buscador">
					
				</div>
				<button :id="'opcion_usuario_'+obj.id" onclick="usuario_seleccionado(this)" class="contenedor_opcion_usuario boton" v-for="obj in usuarios_filtrado">
					<h2>[[obj.nombre]]</h2>
				</button>
				
			</div>
			<div id="bloque3_popup" class="bloque_popup">
				<div class="contenedor_opcion_usuario" v-for="obj in usuarios_seleccionados" >
					<h2>[[obj.nombre]]</h2>
					<button :id = "'eliminar_opcion_usuario_'+obj.id" class="close_option" onclick="eliminar_opcion_usuario(this)"><img type="image" class="close_img_popup" src="{% static 'imgs/delete.png'%}"  /></button>
				</div>
			</div>
			<button v-show="usuarios_seleccionados.length > 0" id="boton_call2action_many" style="right: 25px;bottom: 25;" class="boton_call2action" onclick="call2action_many()" >Asociar datos</button>
		</div>
	</div>
	
	
	
	
	
	<div id="contenedor_busquedas_contactos" class="contenedor_top left">
		
		<div class="buscador_app">
			<div class="div_buscador_inicio">
				
				<input id="buscador_index" class="searcher index" onkeypress="busqueda_persona(event)" placeholder="¿Cómo es el trabajo de tus sueños?" >
				
				<button class="call2action primario buscar" onclick="busqueda_persona()">
					<img  src="/static/imgs/menu/search_w.png" class="lupa_buscador">
					Buscar candidato
				</button>
				<!--<button class="call2action primario opcion_index mobile" onclick="busqueda_index()">Busco candidatos</button>-->
			</div>
		</div>
		
		<div class="contenedor_listas left contactos">
			<div class="contenedor_opciones">
				<button id="tab_contenedor_full_contactos" onclick="tab_contenedor(this)" class="opcion_pestania lista selected" >Contactos que puedo llegar a conocer</button>
				<button id="tab_contenedor_etiquetas_contactos" class="opcion_pestania lista" onclick="tab_contenedor(this)" >Mis contactos cercanos</button>
				<button class="boton_crear_objeto principal" onclick="crear('contacto')"><img type="image" class="opcion_img_objeto" src="{% static 'imgs/add.png'%}"  />Cargar contacto</button>
				
				
				
			</div>
			<div id="contenedor_etiquetas_contactos" class="contenedor_etiquetas hide contactos">
				<h3 class="texto_resultados">
					[[get_texto_resultados(lista.contactos.length,lista.contactos.length)]]
				</h3>
				<div :id="'share_etiqueta_'+obj.id" onclick="share_etiqueta(this,event)" class="contenedor_etiqueta contacto" v-for="obj in lista.contactos" v-if="obj.label != 'sesion'">
					
					<div class="botonera etiqueta contacto">
						
						<button class="opcion_vacante" v-if="obj.label != 'observacion'" ><h2>Más info</h2></button>
						<button class="opcion_vacante" :id="'delete_etiqueta_'+obj.id" onclick="show_message_popup(this,true,'delete_contacto')">
							<img type="image" class="opcion_img" src="{% static 'imgs/popup/delete.png'%}"  />
						</button>
						
						<a :href="obj.link" target="_blank" id="link_etiqueta" v-show="valid_url(obj.link)">
							<button class="opcion_vacante" >
								<img type="image" class="opcion_img" src="{% static 'imgs/popup/link.png'%}"  />
							</button>
						</a>
						
						
					</div>
					<div class="etiqueta_coincidencia" v-show="obj.coincidencia > 0"><h4 class="coincide total" v-show="obj.coincidencia == 100">coincidencia completa</h4><h4 class="coincide parcial" v-show="obj.coincidencia < 100">recomendado</h4></div>
					
					<div class="div_contenido contacto">
						<h1>[[obj.titulo]]</h1>
						<h2 >[[obj.valor]]</h2>
						<h3 class="empresa">[[obj.valor2]]</h3>
						<br></br>
						<h3 v-if="usuario.tipo == 13">Fecha ultima búsqueda en Aleia:[[obj.data.ultimo_login]]</h3>
						
						<div class="etiqueta_complemento" v-show="obj.complemento != ''" :style="{background:get_info_complemento(obj.complemento,obj.label).color}"><h3>[[get_info_complemento(obj.complemento,obj.label).texto]]</h3></div>
						<div class="etiqueta_complemento" v-if="obj.verificado != undefined && obj.verificado && obj.nivel_verificado > 1"><h3>Verificado</h3></div>
						<div class="etiqueta_complemento" v-if="obj.oculto != undefined && obj.oculto"><h3>Oculto</h3></div>
						
						
					</div>
				</div>
				
			</div>
			<div id="contenedor_full_contactos" class="contenedor_etiquetas contactos">
				<div class="mensaje_no_contactos" v-show="num_contactos < 5 && sesion.data.tipo != 13">
					<h1 class="mensaje_no_contactos texto_mensaje">
						[[sesion.pnombre]], para poder tener acceso a la red de personas que puedes conocer necesitas crear por lo menos 5 contactos que sean conocidos, de confianza o muy cercanos. 
						<br><br>
						Asocia tus contactos más estrategicos y accede a una red de más de 600 personas que puedes llegar a conocer efectivamente!
					</h1>
				</div>
				<div class="mensaje_no_contactos" v-show="total_items > 0 && lista.full_contactos.length == 0">
					<h1 class="mensaje_no_contactos texto_mensaje">
						No se encontraron resultados para tu búsqueda.
					</h1>
				</div>
				<div class="mensaje_no_contactos" v-show="total_items == 0 && num_contactos >= 5 && lista.full_contactos.length == 0">
					<h1 class="mensaje_no_contactos texto_mensaje">
						[[sesion.pnombre]], al parecer ninguno de tus contactos se encuentra registrado en Aleia, por lo cual no podrás ver las personas que ellos han cargado y que te pueden llegar a presentar.
						<br><br>
						Te recomendamos invitarlos a unirse a Aleia dando clic en "Mis contactos", da clic en el contacto a invitar y luego en "Invitar". Ahí podrás copiar el link al que tu contacto tiene que acceder para que se registre y puedas tener acceso a una red real de networking de tus personas cercanas.
					</h1>
				</div>
				<h3 class="texto_resultados" v-show="((num_contactos >= 5 && sesion.data.tipo != 13) || (sesion.data.tipo == 13))">
					[[get_texto_resultados(lista.full_contactos.length,indices_lista.total_full_contactos)]]
				</h3>
				<div class="div_order" v-show="((num_contactos >= 5 && sesion.data.tipo != 13) || (sesion.data.tipo == 13))">
					<button class="order_boton" :id="div+'_popup_orden_show'" onclick="show_popup_atts(this)">
						<img type="image" class="img_filter_order" src="{% static 'imgs/sort2.png'%}"  />
						<h3 class="desktop">Ordenar por [[order]]</h3>
					</button>
					<div :id="div+'_popup_orden'" class="popup_atts hidden">
						
						<button :id="div+'_popup_orden_close'" class="close_corner atts" onclick="close_popup_atts(this)"><img type="image" class="corner_img atts" src="{% static 'imgs/cancel_c.png'%}"  /></button>
						<div class="contenedor_interno_atts" v-for="(obj,key) in lista_atts_orden">
							
							<div class="att" v-for="att in obj">
								<button :id="div+'_att_'+att.id" class="boton_atts" onclick="selecciona_order(this)"><h2>[[att.texto]]</h2></button>
							</div>
						</div>
					</div>
				</div>
				<div  :id="'share_etiqueta_'+obj.id" onclick="share_item(this,'contacto',event)" class="contenedor_etiqueta contacto" v-for="obj in lista.full_contactos"   v-show="((num_contactos >= 5 && sesion.data.tipo != 13) || (sesion.data.tipo == 13) ) && lista.full_contactos.length > 0  ">
					
					<div class="botonera etiqueta contacto">
						
						<button class="opcion_vacante" v-if="obj.label != 'observacion'" ><h2>Más info</h2></button>
						<a :href="obj.linkedin" target="_blank" id="link_etiqueta" v-show="valid_url(obj.linkedin)">
							<button class="opcion_vacante" >
								<img type="image" class="opcion_img" src="{% static 'imgs/popup/link.png'%}"  />
							</button>
						</a>
						
					</div>
					<div class="etiqueta_coincidencia" v-show="obj.coincidencia > 0"><h4 class="coincide total" v-show="obj.coincidencia == 100">coincidencia completa</h4><h4 class="coincide parcial" v-show="obj.coincidencia < 100">recomendado</h4></div>
					
					<div class="div_contenido contacto">
						<h1>[[obj.nombre]]</h1>
						<h2>[[obj.ultimo_cargo]]</h2>
						<h3 class="empresa">[[obj.ultima_empresa]]</h3><br></br>
						<h3 v-if="usuario.tipo == 13">Fecha ultima búsqueda en Aleia:[[obj.ultimo_login]]</h3>
					</div>
				</div>
				<div class="ver_mas_inferior" onclick="get_more_items('contactos')" v-show="indices_lista.total_full_contactos > lista.full_contactos.length && ((num_contactos >= 5 && sesion.data.tipo != 13) || (sesion.data.tipo == 13))">Ver más</div>
			</div>
		</div>
		
		
	</div>
	
	
	<div id="contenedor_verifica_persona" class="div_contenedor_popup hide">
		<div id="contenedor_popup_persona_verifica" class="contenedor_popup">
			<button  class="close_corner" onclick="close_popup(this)"><img type="image" class="corner_img" src="{% static 'imgs/cancel_c.png'%}"  /></button>
			
			<button class="opcion_persona" onclick="crear('contacto')">
				<h1>Cargue básico</h1>
				<img type="image" class="opcion_persona_img" src="{% static 'imgs/popup/uno.png'%}"  />
				<h2>Si ya conoces a la persona que vas a cargar, tienes sus datos y no necesitas evaluar su perfil, esta es la mejor opción.</h2>
			</button>
			<button class="opcion_persona" onclick="crear('contacto_perfil')">
				<h1>Cargue con evaluación de perfil</h1>
				<img type="image" class="opcion_persona_img" src="{% static 'imgs/popup/perfil.png'%}"  />
				<h2>Si tienes una entrevista o quieres prepararte para hacer contacto con una persona, en esta opción puedes obtener una evaluación del perfil de comunicación a partir de su link en LinkedIn. Puede tomar hasta 30 segundos.</h2>
			</button>
			<button style="display: none;" class="opcion_persona" onclick="crear('contacto_masivo')">
				<h1>Cargue de varias personas</h1>
				<img type="image" class="opcion_persona_img" src="{% static 'imgs/popup/varios.png'%}"  />
				<h2>Si quieres cargar una varias personas desde un excel de forma rapida y sencilla puedes cargar un archivo con extensión CSV en esta opción. Acá te explicamos cómo.</h2>
			</button>
		</div>
	</div>
	<div id="contenedor_right" class="div_contenedor_popup hide">
		
		
		<div id="contenedor_popup_formularios" class="contenedor_popup">
			<h1 id="titulo_contenedor_right"></h1>
			<button  class="close_corner" onclick="close_popup(this)"><img type="image" class="corner_img" src="{% static 'imgs/cancel_c.png'%}"  /></button>
			<div id="div_mensaje_retorno" class="mensaje_retorno invisible">
				<img id="mensaje_retorno_img" type="image" class="mensaje_retorno_img"/>
				<h2 id="mensaje_retorno"></h2>
				<div id = "decision_retorno" class="decision_retorno">
					<button class="eleccion_respuesta" onclick="ocultar_mensaje()">Cancelar</button>
					<button class="eleccion_respuesta" onclick="asociar_previo()">Asociar sin reemplazar datos</button>
					<button class="eleccion_respuesta" onclick="reenviar_actualizar()">Reemplazar datos</button>
				</div> 
			</div>
			
			
			
			<div id="div_crear_contacto" class="div_contenedor_formulario" style="display: none;">
				
				<div class="div_input id">
					<input id="id_contacto" class="id" readonly/>
					
				</div>
				<div class="div_input">
					<input id="linkedin_contacto" class="input" placeholder="Linkedin"  onblur="search_inner_profile()"/>
					
				</div>
				<div class="div_input">
					<input id="nombre_contacto" class="input" placeholder="Nombre" />
					
				</div>
				<div class="div_input">
					<input id="cargo_contacto" class="input" placeholder="Cargo" />
					
				</div>
				<div class="div_input">
					<input id="empresa_contacto" class="input" placeholder="Empresa" />
					
				</div>
				<div class="div_input" v-show="sesion.data.admin == 1">
					<div class="titulo_select">
						Perfil comunicación:
					</div>
					<select id="crystal_contacto" class="input select">
						<option value="nan">No tiene</option>
						<option value="architect">Architect</option>
						<option value="captain">Captain</option>
						<option value="driver">Driver</option>
						<option value="initiator">Initiator</option>
						<option value="encourager">Encourager</option>
						<option value="harmonizer">Harmonizer</option>
						<option value="influencer">Influencer</option>
						<option value="motivator">Motivator</option>
						<option value="analyst">Analyst</option>
						<option value="editor">Editor</option>
						<option value="skeptic">Skeptic</option>
						<option value="questioner">Questioner</option>
						<option value="counselor">Counselor</option>
						<option value="planner">Planner</option>
						<option value="stabilizer">Stabilizer</option>
						<option value="supporter">Supporter</option>
						
					</select>
					
				</div>
				<div class="div_input">
					<input id="mail_contacto" class="input" placeholder="Mail" />
					
				</div>
				<div class="div_input">
					<input id="telefono_contacto" class="input" placeholder="Telefono" />
					
				</div>
				<div class="div_input">
					<div class="titulo_select">
						Tipo de contacto:
					</div>
					<select id="tipo_contacto" class="input select" placeholder="Tipo de relación">
						<option value="1">Desconocido</option>
						<option value="2">Conocido</option>
						<option value="3">Confianza</option>
						<option value="4">Muy cercano</option>
					</select>
					
				</div>
				
				<div class="div_input">
					<div class="titulo_select">
						¿Cual de estas descripciones se acopla más a esta persona?
					</div>
					<select id="personalidad_contacto" class="input select">
						<option value="">No se</option>
						<option value="rojo">Es orientado a los resultados, es directo al comunicarse y le gusta controlar la productividad. </option>
						<option value="amarillo">Es altamente sociable, es muy bueno motivando y disfruta del trabajo cambiante.</option>
						<option value="verde">Es muy bueno trabajando en equipo, escuchando a los otros y siendo amigable.</option>
						<option value="azul">Tiene una comunicación formal, es muy bueno trabajando en la sistematización de procesos y en la atención al detalle.</option>
					</select>
					
				</div>
				<div class="div_input">
					
					<div class="titulo_select">
						Quiero que verifique que es mi contacto
					</div>
					<input type="checkbox" id="verificacion_contacto">
					<button class="opcion_input" onclick="show_message_popup(this)">
						<img type="image" class="img_pass" src="{% static 'imgs/index/ask.png'%}"  />
					</button>
				</div>
				<div class="div_input">
					
					<div class="titulo_select">Oculto</div>
					<input type="checkbox" id="contacto_oculto">
					<button class="opcion_input" onclick="show_message_popup(this)">
						<img type="image" class="img_pass" src="{% static 'imgs/index/ask.png'%}"  />
					</button>
				</div>
				<div class="div_input">
					<textarea placeholder="Si enviaste la verificación de contacto escribele un mensaje acá o describe la relación que tienen. Esta información es privada para ti." id="obs_contacto"></textarea>
				</div>
			</div>
			<div id="div_crear_contacto_perfil" class="div_contenedor_formulario" style="display: none;">
				
				<div class="div_input id">
					<input id="id_contacto_perfil" class="id" readonly/>
					
				</div>
				<div class="div_input">
					<input id="linkedin_contacto_perfil" class="input" placeholder="Linkedin"/>
					
				</div>
				<div class="div_input">
					<input id="mail_contacto_perfil" class="input" placeholder="Mail" />
					
				</div>
				<div class="div_input">
					<input id="telefono_contacto_perfil" class="input" placeholder="Telefono" />
					
				</div>
				<div class="div_input">
					<div class="titulo_select">
						Tipo de contacto:
					</div>
					<select id="tipo_contacto_perfil" class="input select" placeholder="Tipo de relación">
						<option value="1">Desconocido</option>
						<option value="2">Conocido</option>
						<option value="3">Confianza</option>
						<option value="4">Muy cercano</option>
					</select>
					
				</div>
				
				<div class="div_input">
					<div class="titulo_select">
						¿Cual de estas descripciones se acopla más a esta persona?
					</div>
					<select id="personalidad_contacto_perfil" class="input select">
						<option value="">No se</option>
						<option value="rojo">Es orientado a los resultados, es directo al comunicarse y le gusta controlar la productividad. </option>
						<option value="amarillo">Es altamente sociable, es muy bueno motivando y disfruta del trabajo cambiante.</option>
						<option value="verde">Es muy bueno trabajando en equipo, escuchando a los otros y siendo amigable.</option>
						<option value="azul">Tiene una comunicación formal, es muy bueno trabajando en la sistematización de procesos y en la atención al detalle.</option>
					</select>
					
				</div>
				<div class="div_input">
					
					<div class="titulo_select">Quiero que verifique que es mi contacto</div>
					<input type="checkbox" id="verificacion_contacto_perfil">
					<button class="opcion_input" onclick="show_message_popup(this)">
						<img type="image" class="img_pass" src="{% static 'imgs/index/ask.png'%}"  />
					</button>
				</div>
				<div class="div_input">
					
					<div class="titulo_select">Oculto</div>
					<input type="checkbox" id="contacto_oculto_perfil">
					<button class="opcion_input" onclick="show_message_popup(this)">
						<img type="image" class="img_pass" src="{% static 'imgs/index/ask.png'%}"  />
					</button>
				</div>
				<div class="div_input">
					<textarea placeholder="Si enviaste la verificación de contacto escribele un mensaje acá o describe la relación que tienen. Esta información es privada para ti." id="obs_contacto_perfil"></textarea>
				</div>
			</div>
			
			
			<button id="boton_call2action" class="boton_call2action" onclick="call2action()" ></button>
		</div>
	</div>
	
	
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script  src="{% versioned_static 'js/fuzzball_lite.umd.min.js'%}"></script>
<script  src="{% versioned_static 'js/global.js'%}"></script>

<script  src="{% versioned_static 'js/business.js'%}"></script>
<script  src="{% versioned_static 'js/graph.js'%}"></script>

<script src="{% versioned_static 'js/viz.js' %}"></script>
<script  src="{% versioned_static 'js/render.js'%}"></script>

</html>