{% load static %}
{% load versioned_static %}

<html>
<head>
	
	
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/network/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/network/style.css' %}">
	
	
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><link rel="shortcut icon" type="image/png" href="https://seligo2.s3.us-east-2.amazonaws.com/logo_aleja_2.png"/><title>Aleja</title>
	<meta property="og:title" content="Aleja"/>
	
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	
	<meta http-equiv="Content-Length" content="1"/>
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- Open Graph-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/styles_mobile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% versioned_static 'css/loading.css' %}">
	
	
	
	
</head>
<body id="index_page">
	<div id="div_contenedor_popup_pregunta" class="div_contenedor_popup hide" style="display: none;">
		<div id="contenedor_popup_pregunta" class="contenedor_popup_pregunta">
			<button  class="close_corner" onclick="close_popup(this)"><img type="image" class="corner_img" src="{% static 'imgs/cancel_c.png'%}"  /></button>
			<span id="mensaje_popup_pregunta"></span>
		</div>
	</div>
	<div id="mensaje_flotante" class="mensaje_flotante hide"><h1 id="texto_mensaje_flotante" class=""></h1></div>
	
	{% block content %}
	{% include 'menu_opciones.html' %}
	{% include 'loading.html' %}
	{% endblock %} 
	
	
	<div id="div_contenedor_video" class="div_contenedor_popup hide" style="display: none">
		
	</div>
	<div class="contenedor_profile" id="contenedor_profile">
		<div class="info_fija">
			<div class="nombre_titulo">
				<div class="h0">[[usuario.nombre]]</div>
				<div class="sub_info">ID de usuario: [[usuario.id]]</div>
				<div class="sub_info">Usuario: [[usuario.usuario]]</div>
				<div class="sub_info">Fecha creación cuenta: [[usuario.fecha]]</div>
				<button class="boton_logout" onclick="close_session()">
					<img type="image" src="/static/imgs/menu/logout_n.png" class="img_boton">
					Cerrar sesión
				</button>
			</div>
		</div>

		<form class="info_dinamica" id="envio_perfil" enctype="multipart/form-data"   >
			<!--<div class="contenedor_campo parcial">
				<div class="label_info">Último cargo</div>
				<div class="valor_campo">
					<input type="text"  id="ultimo_cargo_perfil" placeholder="Ej. Gerente de proyecto"  >
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Última empresa</div>
				<div class="valor_campo">
					<input type="text"  id="ultima_empresa_perfil"  placeholder="Ej. Rappi"> 
				</div>
			</div>-->
			<!--<div class="contenedor_campo">
				<div class="label_info" style="color: ">Si estas buscando empleo o un cambio laboral cuentanos que crees que te hace falta para lograr tu objetivo</div>
				<div class="valor_campo textarea">
					<textarea id = "faltante_busqueda" placeholder="Esto nos permite crear mejores soluciónes para tu búsqueda de empleo"></textarea>
				</div>
			</div>
			<div class="contenedor_campo">
				<div class="label_info">Logros</div>
				<div class="valor_campo textarea">
					<textarea id = "logros_perfil" placeholder="Escribe una lista de logros que te hagan más interesante que cualquier persona que pueda tener tus mismas palabras clave. Ej: En Séligo logré aumentar en 3 meses un 80% el número de usuarios satisfechos con la plataforma liderando un equipo de 7 desarrolladores."></textarea>
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Telefono</div>
				<div class="valor_campo">
					<input type="text" id="telefono_perfil">
				</div>
			</div>-->
			<div class="contenedor_campo parcial">
				<div class="label_info"> Mail </div>
				<div class="valor_campo">
					<input type="text" name="mail" id="mail" v-model="usuario.mail"> 
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Edad</div>
				<div class="valor_campo">
					<input type="text" name="edad" id="edad" v-model="usuario.edad">
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Salario actual</div>
				<div class="valor_campo">
					<input type="text" name="aspiracion_min" id="aspiracion_min" v-model="usuario.aspiracion_min">
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Aspiración salarial</div>
				<div class="valor_campo">
					<input type="text" name="aspiracion_max" id="aspiracion_max" v-model="usuario.aspiracion_max">
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">LinkedIn</div>
				<div class="valor_campo">
					<input type="text" name="linkedin" id="linkedin" v-model="usuario.linkedin">
				</div>
			</div>
			<div class="contenedor_campo parcial">
				<div class="label_info">Area</div>
				<div class="valor_campo">
					<input type="text" name="area" id ="area" v-model="usuario.area" placeholder="Ej. Finanzas">
				</div>
			</div>
			<!--<div class="contenedor_campo parcial">
				<div class="label_campo">Ciudad</div>
				<div class="valor_campo">
					<div class="recomendaciones">
						<button :id="'ciudad_perfil_reco'+i" class="recomendacion" v-for="(o,i) in recomendaciones" onmousedown="select_recom('ciudad',this)">
							[[o]]
						</button>
					</div>
					<input id="ciudad" name="ciudad" onblur="remove_recom('ciudad')" onkeydown="explore_recom(event,'ciudad',this)" oninput="recomendaciones('ciudad',this)" class="input" placeholder="Ej. Bogotá" v-model="usuario.ciudad" />
				</div>
			</div>
			
			<div class="contenedor_campo">
				<div class="label_info">Sector(es) donde has trabajado</div>
				<div class="valor_campo">
					<input type="text"  id="sector_perfil"  placeholder="Ej. Consumo masivo">
				</div>
			</div>
			<div class="contenedor_campo" style="display: none">
				<div class="label_campo">Sub sector</div>
				<div class="valor_campo">
					<input type="text" class="input_campo" id="subsector_perfil"  placeholder="Ej. Lacteos">
				</div>
			</div>
			
			<form method="POST" class="post-form" enctype="multipart/form-data" id="form_test_profile">  
				{% csrf_token %}
				<div class="label_campo">Hoja de vida</div>
				{{form}}
				<button type="submit" class="save btn btn-default">Envíar archivo</button>  
			</form> --> 

			<input name="id" v-model="usuario.id" type="hidden">

			<button class="save_profile like" onclick="guarda_perfil(event)">Guardar</button>
			
			<!--<a :href="'EPE/get_last_cv?id='+id" target="_blank">
				<button class="save_profile" onclick="descarga_perfil()" >Descargar mi ultima hoja de vida</button>
				</a>
			</div>-->

		</form>
	</div>
	
	<div id="criterios" class="criterios">
		<div class="label_info2"> Criterios por los que te encontrarán las empresas </div>
		<br>
		<template>
			<div id="app_requisitos" class="table_desing">
				<div class="pregunta_respuesta">
					<div id="pregunta" class="pregunta" v-for="item in cumplimiento_requisitos">
						[[ item.requisito ]]
					</div>
					<div class="img_respuesta"></div> 
					<div id="respuesta" class="respuesta" v-for="item in cumplimiento_requisitos">
						[[ item.cumplimiento ]]
					</div>
				</div>		
			
		</template>
	</div>
	
	<div id="banner_opciones_mobile" class="banner_opciones mobile" style="display: none">
			
			
		<div class="opcion_banner" onclick="javascript:window.location.href = 'app'">Volver a mi traza</div>
			
			
		<!--<div class="opcion_banner otros" onclick="show_opciones_cargar()">...</div>-->
	</div>

</div>
</body>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
	<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script  src="{% versioned_static 'js/global.js'%}"></script>
	
	<script  src="{% versioned_static 'js/fuzzball_lite.umd.min.js'%}"></script>
	<script  src="{% versioned_static 'js/business.js'%}"></script>
	
	<script  src="{% versioned_static 'js/render.js'%}"></script>
	
	
	
	</html>